{% extends 'booking/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>User Profile</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4"><strong>Username:</strong></div>
                    <div class="col-8">{{ user.username }}</div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4"><strong>Email:</strong></div>
                    <div class="col-8">{{ user.email|default:"Not provided" }}</div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4"><strong>Member since:</strong></div>
                    <div class="col-8">{{ user.date_joined|date:"M d, Y" }}</div>
                </div>
                
                <div class="mt-4">
                    <a href="{% url 'my_bookings' %}" class="btn btn-primary">View My Bookings</a>
                    <a href="{% url 'travel_option_list' %}" class="btn btn-secondary">Browse Travel Options</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
